@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk:MORF@15&family=Kalnia+Glaze:wght@100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}

/* Colors for visibility */
.group1 { background: linear-gradient(to right ,pink ,violet) }
.group2 { background: #222; position: relative; overflow: hidden; }
.group3 { background: #333; }

/* Parallax background */
.bg {
  position: absolute;
  width: 100%;
  height: 120%;
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  z-index: -1;
}


/* project card */

.card-header{
  font-size: 28px;
  font-weight: bold;


}

p{
  text-align: center;
  margin-left: 50px;
  font-size: 15px;
}
.project-card {

  width : 400px;
  height : 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 12px;

background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);

  gap: 4px;
  /* border : 2px solid white; */
}

.project-img {

  margin-top : -110px;

  width: 400px;
  height : 300px;
  border-radius: 10px;
}

.project-content {
  /* max-width: 400px; */

margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;

  gap: 30px;

  text-transform: uppercase;
  box-align: center;
}

/* card btn */
.btn {
  
  position : relative;
  width : max-content;

  font-size: 1rem;
  font-weight: bold;

  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: linear-gradient(to right , pink,violet);
  color: WHITE;
  text-decoration: none;

  font-family: "Montserrat", sans-serif;

  margin: 0px 20px;

  padding: 10px 10px;

  z-index:1 ;

  text-transform: uppercase;
}

.btn::after{
  content: "";
  position: absolute;

  border-radius : 10px;

  z-index: -1;

  width: 0;
  height : 100%;

  left : 0;
  top : 0;

  background: linear-gradient(to right ,blue,lightblue);

  transition: width 0.4s linear;

}

.btn:hover::after{
  width : 100%;
}







/* horizontal */
.group1-wrapper {
  height: 100vh;
  overflow: hidden;
}

.group1-container {
  display: flex;
  /* width: 600%; */
}

.panel {
  width: 70vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: linear-gradient(to top, rgb(186,189,67), rgb(232,11,117));
  color: white;
}


.group-main{
  background: linear-gradient(to right, rgb(52,162,210), rgb(237,36,160));
}